body {
background-color: aliceblue;
color: rgb(50, 50, 50);
font-family: courier ;

}
h1 {
	color: skyblue;
	font-family: helvetica ;
	font-weight: 100;
	letter-spacing: 10px;
	font-size: 60px;




	}